<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Groupomédia réseau social d'entreprise</title>    
    <meta name="description" content="Groupomania, découvert les posts favoris de vos collègues.">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e439166e98.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <script src="js/connexion.js" async></script>
    <script src="js/post.js" async></script>
</head>

<body>
    <header>
        <a id='logo' href='index.html'> <img src="logos/icon-left-font-monochrome-black.svg" alt="logo Groupomania" /></a>
        <nav>
            <a href="me.html">Mon Compte |</a>            
            <div id="connexion">             
            </div> 
        </nav>
    </header>
    <main>
        <section id="post">
            <h2>Votre post</h2>
        </section>
    </main>
</body>
</html>